In [43]:
import numpy as np
import h5py
import pandas as pd
import tensorflow as tf
#from tensorflow import keras
from sklearn.model_selection import train_test_split
from glob import glob

import matplotlib.pyplot as plt 
import seaborn as sns 

plt.rcParams["figure.figsize"] = [16,9]
sns.set_style('whitegrid')

In [4]:
#what is our input layer sie? this is = to the length of the wl_grid
#load wl_grid
hf_spec = h5py.File("/home/pravn/Dropbox/Masters/Research Data/resampled_emission_spectra.h5", "r")
hf_grid = h5py.File("/home/pravn/Dropbox/Masters/Research Data/wl_grid.h5", "r")

wl_grid = np.array(hf_grid["wl_grid"])
df = pd.DataFrame(hf_spec["spectra"])

In [5]:
len(wl_grid)

4459

In [6]:
df_labeled = pd.read_csv("/home/pravn/Dropbox/Masters/galah-test-nut/best_emission_candidates_spectra_labels.csv")

In [7]:
df_labeled["label"]

0       1
1       2
2       4
3       2
4       2
       ..
6972    3
6973    1
6974    1
6975    1
6976    2
Name: label, Length: 6977, dtype: int64

In [8]:
df["label"] = df_labeled["label"]

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,4450,4451,4452,4453,4454,4455,4456,4457,4458,label
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2

In [20]:
df_data_only = df.drop("label",1)

<ipython-input-20-c42a4ae01944>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_data_only = df.drop("label",1)

In [21]:
df_data_only.head()

,0,1,2,3,4,5,6,7,8,9,...,4449,4450,4451,4452,4453,4454,4455,4456,4457,4458
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [26]:
df_data_only_inverted = 1 - df_data_only

In [31]:
PLOT_MASK = range(1475,1550)

In [32]:
df_masked = df_data_only_inverted.loc[:,PLOT_MASK]

In [33]:
df_masked.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,0.208768,0.200884,0.201487,0.210064,0.229430,0.252160,0.249800,0.221421,0.194443,0.181551,...,0.201092,0.212672,0.213621,0.204131,0.199771,0.211664,0.218077,0.200137,0.164115,0.157163
1,-0.016790,-0.033717,-0.039141,-0.053989,-0.071330,-0.068635,-0.053506,-0.034933,-0.029725,-0.013231,...,-0.059578,-0.066814,-0.051114,-0.045202,-0.061199,-0.052639,-0.056661,-0.036873,-0.035144,-0.027276
2,-0.068419,-0.064418,-0.059543,-0.045539,-0.045996,-0.074062,-0.101389,-0.097221,-0.074829,-0.057252,...,0.043252,0.051512,0.048232,0.036719,0.005059,-0.033656,-0.060059,-0.077753,-0.082559,-0.075347
3,0.145477,0.123689,0.090488,0.073637,0.064115,0.045315,0.078354,0.073947,0.065142,0.063912,...,0.054140,0.047816,0.044618,0.048410,0.046251,0.038938,0.026771,0.011788,0.023686,0.030660
4,0.041915,0.038646,0.041666,0.039103,0.039460,0.045034,0.048620,0.060092,0.076733,0.096975,...,0.079242,0.074893,0.065531,0.056555,0.050400,0.051143,0.055094,0.051298,0.044803,0.046999

In [34]:
df_masked_data_only = df_data_only.loc[:,PLOT_MASK]

In [35]:
df_masked_data_only.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,0.791232,0.799116,0.798513,0.789936,0.770570,0.747840,0.750200,0.778579,0.805557,0.818449,...,0.798908,0.787328,0.786379,0.795869,0.800229,0.788336,0.781923,0.799863,0.835885,0.842837
1,1.016790,1.033717,1.039141,1.053989,1.071330,1.068635,1.053506,1.034933,1.029725,1.013231,...,1.059578,1.066814,1.051114,1.045202,1.061199,1.052639,1.056661,1.036873,1.035144,1.027276
2,1.068419,1.064418,1.059543,1.045539,1.045996,1.074062,1.101389,1.097221,1.074829,1.057252,...,0.956748,0.948488,0.951768,0.963281,0.994941,1.033656,1.060059,1.077753,1.082559,1.075347
3,0.854523,0.876311,0.909512,0.926363,0.935885,0.954685,0.921646,0.926053,0.934858,0.936088,...,0.945860,0.952184,0.955382,0.951590,0.953749,0.961062,0.973229,0.988212,0.976314,0.969340
4,0.958085,0.961354,0.958334,0.960897,0.960540,0.954966,0.951380,0.939908,0.923267,0.903025,...,0.920758,0.925107,0.934469,0.943445,0.949600,0.948857,0.944906,0.948702,0.955197,0.953001

In [22]:
import os, sys
from keras.layers import Input, Dense, Dropout
from keras.models import Model, Sequential, load_model
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.layers.advanced_activations import PReLU
from keras import backend as K
#from keras.utils import plot_model
from keras.utils.vis_utils import plot_model

In [23]:
activation = None  # PReLU if set to None
dropout_rate = 0  # from 0 to 1
n_l_e = 5
n_epoch = 20
decoded_layer_name = 'encoded'
n_wvl = len(wl_grid)
optimizer = tf.keras.optimizers.Adam()

# compute number of nodes in every connected layer
n_l_1 = int(n_wvl * 0.75)
n_l_2 = int(n_wvl * 0.50)
n_l_3 = 0  # int(n_wvl * 0.40)
n_l_4 = 0  # int(n_wvl * 0.20)
n_l_5 = int(n_wvl * 0.25)
n_l_6 = int(n_wvl * 0.10)

In [24]:
autoencoder = Sequential()

if n_l_1 > 0:
    autoencoder.add(Dense(n_l_1, input_shape=(n_wvl,), activation=activation, name='E_1'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_1'))
    if activation is None:
        autoencoder.add(PReLU(name='PR_1'))

if n_l_2 > 0:
    autoencoder.add(Dense(n_l_2, activation=activation, name='E_2'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_2'))
    if activation is None:
        autoencoder.add(PReLU(name='PR_2'))

if n_l_3 > 0:
    autoencoder.add(Dense(n_l_3, activation=activation, name='E_3'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_3'))
    if activation is None:
        autoencoder.add(PReLU(name='PR_3'))

if n_l_4 > 0:
    autoencoder.add(Dense(n_l_4, activation=activation, name='E_4'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_4'))
    if activation is None:
        autoencoder.add(PReLU(name='PR_4'))

if n_l_5 > 0:
    autoencoder.add(Dense(n_l_5, activation=activation, name='E_5'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_5'))
    if activation is None:
        autoencoder.add(PReLU(name='PR_5'))

if n_l_6 > 0:
    autoencoder.add(Dense(n_l_6, activation=activation, name='E_6'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_6'))
    if activation is None:
        autoencoder.add(PReLU(name='PR_6'))

autoencoder.add(Dense(n_l_e, activation=activation, name=decoded_layer_name))
if activation is None:
        autoencoder.add(PReLU(name='PR_7'))

if n_l_6 > 0:
    autoencoder.add(Dense(n_l_6, activation=activation, name='D_1'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_8'))
    if activation is None:
            autoencoder.add(PReLU(name='PR_8'))

if n_l_5 > 0:
    autoencoder.add(Dense(n_l_5, activation=activation, name='D_2'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_9'))
    if activation is None:
        autoencoder.add(PReLU(name='PR_9'))

if n_l_4 > 0:
    autoencoder.add(Dense(n_l_4, activation=activation, name='D_3'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_10'))
    if activation is None:
        autoencoder.add(PReLU(name='PR_10'))

if n_l_3 > 0:
    autoencoder.add(Dense(n_l_3, activation=activation, name='D_4'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_11'))
    if activation is None:
        autoencoder.add(PReLU(name='PR_11'))

if n_l_2 > 0:
    autoencoder.add(Dense(n_l_2, activation=activation, name='D_5'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_12'))
    if activation is None:
        autoencoder.add(PReLU(name='PR_12'))

if n_l_1 > 0:
    autoencoder.add(Dense(n_l_1, activation=activation, name='D_6'))
    if dropout_rate > 0:
        autoencoder.add(Dropout(dropout_rate, name='DO_13'))
    if activation is None:
        autoencoder.add(PReLU(name='PR_13'))

autoencoder.add(Dense(n_wvl, activation='linear', name='recreated'))
autoencoder.summary()

# Visualize network architecture and save the visualization as a file
#plot_model(autoencoder, show_layer_names=True, show_shapes=True, to_file='ann_network_structure_a.pdf')
#plot_model(autoencoder, show_layer_names=True, show_shapes=True, to_file='ann_network_structure_a.png', dpi=300)

# model file handling
out_model_file = 'model_weights.h5'

if os.path.isfile(out_model_file):
    autoencoder.load_weights(out_model_file, by_name=True)

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 E_1 (Dense)                 (None, 3344)              14914240

 PR_1 (PReLU)                (None, 3344)              3344

 E_2 (Dense)                 (None, 2229)              7456005

 PR_2 (PReLU)                (None, 2229)              2229

 E_5 (Dense)                 (None, 1114)              2484220

 PR_5 (PReLU)                (None, 1114)              1114

 E_6 (Dense)                 (None, 445)               496175

 PR_6 (PReLU)                (None, 445)               445

 encoded (Dense)             (None, 5)                 2230

 PR_7 (PReLU)                (None, 5)                 5

 D_1 (Dense)                 (None, 445)               2670

 PR_8 (PReLU)                (None, 445)               445

 D_2 (Dense)                 (None, 1114)              496844

 PR_9 (PReLU)                (None, 1114)              1114

 D_5 (Dense)                 (None, 2229)              2485335

 PR_12 (PReLU)               (None, 2229)              2229

 D_6 (Dense)                 (None, 3344)              7457120

 PR_13 (PReLU)               (None, 3344)              3344

 recreated (Dense)           (None, 4459)              14915355

=================================================================
Total params: 50,724,463
Trainable params: 50,724,463
Non-trainable params: 0
_________________________________________________________________

In [25]:
autoencoder.compile(optimizer=optimizer, loss='mae')

In [38]:
checkpoint = ModelCheckpoint('ann_model_run_{epoch:03d}-{loss:.4f}-{val_loss:.4f}.h5',
                                     monitor='val_loss', verbose=0, save_best_only=False,
                                     save_weights_only=True, mode='auto', period=1)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [39]:
ann_fit_hist = autoencoder.fit(df_data_only_inverted, df_data_only_inverted,
                                       epochs=n_epoch,
                                       callbacks=[checkpoint],
                                       shuffle=True,
                                       batch_size=100,
                                       validation_split=0.10,
                                       verbose=2)

Epoch 1/20
63/63 - 8s - loss: 0.0272 - val_loss: 0.0239 - 8s/epoch - 132ms/step
Epoch 2/20
63/63 - 8s - loss: 0.0234 - val_loss: 0.0228 - 8s/epoch - 126ms/step
Epoch 3/20
63/63 - 8s - loss: 0.0223 - val_loss: 0.0211 - 8s/epoch - 126ms/step
Epoch 4/20
63/63 - 8s - loss: 0.0214 - val_loss: 0.0214 - 8s/epoch - 127ms/step
Epoch 5/20
63/63 - 8s - loss: 0.0213 - val_loss: 0.0211 - 8s/epoch - 129ms/step
Epoch 6/20
63/63 - 8s - loss: 0.0212 - val_loss: 0.0210 - 8s/epoch - 128ms/step
Epoch 7/20
63/63 - 8s - loss: 0.0210 - val_loss: 0.0207 - 8s/epoch - 128ms/step
Epoch 8/20
63/63 - 8s - loss: 0.0210 - val_loss: 0.0208 - 8s/epoch - 128ms/step
Epoch 9/20
63/63 - 8s - loss: 0.0208 - val_loss: 0.0205 - 8s/epoch - 127ms/step
Epoch 10/20
63/63 - 8s - loss: 0.0205 - val_loss: 0.0201 - 8s/epoch - 128ms/step
Epoch 11/20
63/63 - 8s - loss: 0.0195 - val_loss: 0.0192 - 8s/epoch - 128ms/step
Epoch 12/20
63/63 - 8s - loss: 0.0191 - val_loss: 0.0187 - 8s/epoch - 128ms/step
Epoch 13/20
63/63 - 8s - loss: 0.0186 - val_loss: 0.0180 - 8s/epoch - 130ms/step
Epoch 14/20
63/63 - 8s - loss: 0.0183 - val_loss: 0.0180 - 8s/epoch - 127ms/step
Epoch 15/20
63/63 - 8s - loss: 0.0183 - val_loss: 0.0177 - 8s/epoch - 128ms/step
Epoch 16/20
63/63 - 8s - loss: 0.0181 - val_loss: 0.0176 - 8s/epoch - 131ms/step
Epoch 17/20
63/63 - 8s - loss: 0.0180 - val_loss: 0.0174 - 8s/epoch - 133ms/step
Epoch 18/20
63/63 - 8s - loss: 0.0180 - val_loss: 0.0176 - 8s/epoch - 127ms/step
Epoch 19/20
63/63 - 8s - loss: 0.0178 - val_loss: 0.0175 - 8s/epoch - 127ms/step
Epoch 20/20
63/63 - 8s - loss: 0.0179 - val_loss: 0.0173 - 8s/epoch - 130ms/step

In [41]:
loss_combined = np.vstack((ann_fit_hist.history['loss'], ann_fit_hist.history['val_loss'])).T
np.savetxt('ann_network_loss.txt', loss_combined)
i_best = np.argmin(ann_fit_hist.history['val_loss'])
plt.plot(ann_fit_hist.history['loss'], label='Train')
plt.plot(ann_fit_hist.history['val_loss'], label='Validation')
plt.axvline(np.arange(n_epoch)[i_best], ls='--', color='black', alpha=0.5)
plt.title('Model accuracy')
plt.xlabel('Epoch')
plt.ylabel('Loss value')
plt.ylim(np.nanmin(loss_combined)*0.95, np.nanpercentile(loss_combined, 99))
plt.xlim(-1, n_epoch)
plt.grid(ls='--', alpha=0.2, color='black')
plt.tight_layout()
plt.legend()
plt.savefig('ann_network_loss.png', dpi=250)
plt.close()

In [45]:
print('')
        # recover weights of the selected model and compute predictions
for i_best in [10, 25, 50, 100, 150, 200, 250, 300]:

    h5_weight_files = glob('ann_model_run_{:03.0f}-*-*.h5'.format(i_best))

    if len(h5_weight_files) == 1:
        print('----------------------------------------------------------------')
        print('Restoring epoch {:.0f} with the loss ({:.4f}).'.format(i_best, ann_fit_hist.history['val_loss'][i_best-1]))
        autoencoder.load_weights(h5_weight_files[0], by_name=True)

        sub_dir = 'epoch_{:03.0f}'.format(i_best)
        os.system('mkdir ' + sub_dir)
        os.chdir(sub_dir)

        print('Saving selected model weights')
        autoencoder.save_weights(out_model_file)

        print('Predicting values')
        processed_data_all = autoencoder.predict(df_data_only_inverted, verbose=2, batch_size=20)

        plot_sample_spectra()

        print('')
        os.chdir('..')