In [1]:
import os

path = "/data/praveen/galah-total/galah/dr3/spectra/hermes"
files = [os.path.splitext(filename)[0] for filename in os.listdir(path)]
print (files[50000])

1403090026020784

In [2]:
suffix_list = []

for e in files:
    for element in e.split():
        if element.endswith("3"):
            suffix_list.append(element)

print(len(suffix_list))

588344

In [3]:
new_list = [s.strip("3") for s in suffix_list]
print(len(suffix_list))

588344

In [4]:
import pandas as pd 
df = pd.DataFrame(new_list)

In [5]:
df.to_csv("GALAH_DR3_sobject_ids.csv", header=False, index=False)

In [1]:
import numpy as np
import pandas as pd
import astropy.io.fits as pyfits
import matplotlib.pyplot as plt
import glob
from astropy.table import Table 
from spectres import spectres
data = Table.read('/data/praveen/emission_candidates_klemen/results_emission_lines_final_mnras.fits', format='fits')
df_data = data.to_pandas()
df_new_emiss = df_data.loc[df_data['emiss']== True]
df_new_emiss_25 = df_new_emiss.loc[df_new_emiss["Ha_EW"]> 0.25]
df2 = pd.DataFrame(df_new_emiss_25["sobject_id"])

In [2]:
df2.head()

          sobject_id
231  131116000501262
332  131116000501383
420  131116001001192
432  131116001001213
462  131116001001279

In [3]:
df1 = pd.read_csv("/home/46670564/praveen/code/galah-test-nut/GALAH_DR3_sobject_ids.csv",header=None)

In [4]:
df1.columns = ["sobject_id"]

In [6]:
df1.head()

        sobject_id
0  131116000501002
1   13111600050100
2  131116000501004
3  131116000501005
4  131116000501006

In [7]:
df_temp = pd.merge(df1,df2, how='outer', indicator=True)

In [8]:
df_temp["_merge"].value_counts()

left_only     581367
both            6977
right_only      3387
Name: _merge, dtype: int64

In [9]:
df_final_cands = df_temp.loc[df_temp["_merge"]=="both"]

In [ ]:
nparray = df_final_cands["sobject_id"].to_numpy()
df = pd.DataFrame(nparray)
df.to_csv("best_emission_candidates.csv", header=False, index=False)