In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 

plt.rcParams["figure.figsize"] = [16,9]
sns.set_style('whitegrid')

In [2]:
dr3_masked = pd.read_csv("/home/pravn/Documents/dr3_masked.csv")

In [8]:
dr3_masked["sobject_id"].shape[0]

588344

In [4]:
dr3_masked_dtw_labelled = pd.read_csv("/home/pravn/Documents/dr3_halpha_class_labeled.csv")

In [9]:
dr3_masked_dtw_labelled["sobject_id"].shape[0]

588344

In [6]:
dr3_ews = pd.read_csv("/home/pravn/Documents/dr3_difference_non_inverted_masked_ew.csv")

In [7]:
dr3_ews["EW"].shape[0]

588344

In [10]:
dr3_masked_dtw_labelled["EW_autoencoder"] = dr3_ews["EW"]

In [11]:
dr3_masked_dtw_labelled.head()

,sobject_id,1475,1476,1477,1478,1479,1480,1481,1482,1483,...,1542,1543,1544,1545,1546,1547,1548,1549,label,EW_autoencoder
0,131116000501002,1.002929,1.020100,1.024491,1.022349,1.012781,0.992014,0.972579,0.980616,1.017553,...,1.010591,0.986887,0.998070,1.034840,1.039356,1.017275,1.003299,0.992692,10,4.522394
1,131116000501004,0.913974,0.925080,0.914015,0.910713,0.909456,0.895285,0.886678,0.900813,0.901776,...,0.955362,0.919839,0.916352,0.927437,0.954766,0.975278,0.964925,0.940629,10,4.468872
2,131116000501005,0.852568,0.855619,0.852560,0.847285,0.843284,0.833912,0.815157,0.815373,0.822885,...,0.837705,0.847344,0.861569,0.875073,0.886794,0.884729,0.878885,0.859658,10,4.517386
3,131116000501006,0.799966,0.805414,0.790533,0.784372,0.764509,0.766564,0.785371,0.782442,0.776574,...,0.820822,0.824237,0.821758,0.825028,0.833799,0.852333,0.860145,0.859907,10,4.493607
4,131116000501007,0.762165,0.753905,0.756847,0.772023,0.768651,0.756399,0.747767,0.750086,0.752324,...,0.830479,0.826671,0.820743,0.815063,0.803316,0.793477,0.788137,0.810344,10,4.356204

In [12]:
dr3_masked_dtw_labelled.isnull().values.any()

False

In [39]:
df_temp = dr3_masked_dtw_labelled[dr3_masked_dtw_labelled["label"]==10]

In [40]:
df_temp["EW_autoencoder"].describe()

count    581367.000000
mean          4.480691
std           0.175195
min         -34.113929
25%           4.455631
50%           4.484367
75%           4.511925
max          55.378753
Name: EW_autoencoder, dtype: float64

In [21]:
dr3_masked["EW"] = dr3_ews["EW"]

In [22]:
dr3_masked.head()

,sobject_id,1475,1476,1477,1478,1479,1480,1481,1482,1483,...,1541,1542,1543,1544,1545,1546,1547,1548,1549,EW
0,131116000501002,1.002929,1.020100,1.024491,1.022349,1.012781,0.992014,0.972579,0.980616,1.017553,...,1.000010,1.010591,0.986887,0.998070,1.034840,1.039356,1.017275,1.003299,0.992692,4.522394
1,131116000501004,0.913974,0.925080,0.914015,0.910713,0.909456,0.895285,0.886678,0.900813,0.901776,...,0.959569,0.955362,0.919839,0.916352,0.927437,0.954766,0.975278,0.964925,0.940629,4.468872
2,131116000501005,0.852568,0.855619,0.852560,0.847285,0.843284,0.833912,0.815157,0.815373,0.822885,...,0.841934,0.837705,0.847344,0.861569,0.875073,0.886794,0.884729,0.878885,0.859658,4.517386
3,131116000501006,0.799966,0.805414,0.790533,0.784372,0.764509,0.766564,0.785371,0.782442,0.776574,...,0.834315,0.820822,0.824237,0.821758,0.825028,0.833799,0.852333,0.860145,0.859907,4.493607
4,131116000501007,0.762165,0.753905,0.756847,0.772023,0.768651,0.756399,0.747767,0.750086,0.752324,...,0.821148,0.830479,0.826671,0.820743,0.815063,0.803316,0.793477,0.788137,0.810344,4.356204

In [23]:
dr3_masked_dtw_labelled.head()

,sobject_id,1475,1476,1477,1478,1479,1480,1481,1482,1483,...,1542,1543,1544,1545,1546,1547,1548,1549,label,EW_autoencoder
0,131116000501002,1.002929,1.020100,1.024491,1.022349,1.012781,0.992014,0.972579,0.980616,1.017553,...,1.010591,0.986887,0.998070,1.034840,1.039356,1.017275,1.003299,0.992692,10,4.522394
1,131116000501004,0.913974,0.925080,0.914015,0.910713,0.909456,0.895285,0.886678,0.900813,0.901776,...,0.955362,0.919839,0.916352,0.927437,0.954766,0.975278,0.964925,0.940629,10,4.468872
2,131116000501005,0.852568,0.855619,0.852560,0.847285,0.843284,0.833912,0.815157,0.815373,0.822885,...,0.837705,0.847344,0.861569,0.875073,0.886794,0.884729,0.878885,0.859658,10,4.517386
3,131116000501006,0.799966,0.805414,0.790533,0.784372,0.764509,0.766564,0.785371,0.782442,0.776574,...,0.820822,0.824237,0.821758,0.825028,0.833799,0.852333,0.860145,0.859907,10,4.493607
4,131116000501007,0.762165,0.753905,0.756847,0.772023,0.768651,0.756399,0.747767,0.750086,0.752324,...,0.830479,0.826671,0.820743,0.815063,0.803316,0.793477,0.788137,0.810344,10,4.356204